<div id="user-page">


    <h1>You can't see all the users</h1>
    <p>Already A Member?</p>
    <%= label_tag :username %>:
    <%= text_field_tag :username %>
    <br>
    <%= label_tag :password %>:
    <%= password_field_tag :password %>
    <br><br>
    <%= submit_tag "Login"%>
</div>
